mixin portfolioItem(data)
  each i, index in data
    .portfolio__prevItem(data-slide=index)
      .portfolioPrev(class=`portfolioPrev_${i.title.toLowerCase()}`)
        .portfolioPrev__descr
          span.portfolioPrev__title.subtitle Fulwidth slides
          span.portfolioPrev__name.text= i.title
          .portfolioPrev__controls
            a(href=`#${i.title.toLowerCase()}`).portfolioPrev__popup
              button.portfolioPrev__btn.portfolioPrev__btn_view
                +icon("search")
            button.portfolioPrev__btn.portfolioPrev__btn_link
              +icon("link-symbol")
          
    .portfolio__slideItem.portfolioItem(id= i.title.toLowerCase())(data-slide=index)
      +title({
        "main": i.title,
        "behind": null
      })(class = "portfolioItem__title")
      
      .portfolioItem__slider
        each j, index in i.slider
          -var x = index + 1
          .portfolioItem__pic(class='portfolioItem__pic_' + x)= j
      p.portfolioItem__text.text= i.text
      button.portfolioItem__close.closeBtn Close pop up
